
@{
    ViewBag.Title = "Refarans Ekle";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}


<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Yeni refarans ekleme işlemi
    </h1>

</section>
<!-- Main content -->
<section class="content">

    <div class="row">
        <!-- left column -->
        <div class="col-md-9">

            @Html.Partial("/Areas/Admin/Views/Shared/Partial/FormMessagePart.cshtml")

            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Refarans işlemleri</h3>
                </div><!-- /.box-header -->
                <!-- form start -->

                @Html.Partial("Partial/RefaransForm")

            </div><!-- /.box -->
            <!-- Form Element sizes -->

        </div><!--/.col (left) -->
        <!-- right column -->

    </div>   <!-- /.row -->
</section><!-- /.content -->

